<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="redirectTo('')">Inicio</a>
      <a mat-list-item (click)="redirectTo('login')">Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>Puntitos</span>
      <div class="container">
        <button
          mat-button
          class=""
          aria-label="Example icon-button with heart icon"
          (click)="redirectTo('')"
        >
          <mat-icon>home</mat-icon>
          Inicio
        </button>
        @if(!isLogin()){
        <button
          mat-button
          class=""
          aria-label="Example icon-button with heart icon"
          (click)="redirectTo('login')"
        >
          <mat-icon>login</mat-icon>
          Login
        </button>
        } @if(isLogin()){
        <button
          mat-button
          class=""
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>logout</mat-icon>
          Log out
        </button>
        }
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    {{ isHandset$ | async }}
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
